@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Hind+Vadodara:wght@300;400;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    
}
body{

    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
}

.container{
    display: flex;
    /*width: 100%;*/
    align-items: center;
    max-width: 1170px;
    justify-content: space-between;
    margin: auto;
    height: 80px;
}

.spotify_logo{
    height: 40px;
    width: 132px;
}

.header__nav{
    width: 500px;
}

.nav__opcoes{
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-between;
    padding: 0;

}

.opcoes__item{
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.item__link{
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto';
}

.log-on-out{
    color: #d9dadc;
}

.log-on-out:hover{
    color: #1ed760;
}

.opcoes__item:hover{
    color: #1ed760;
}
#separator:hover{
    color: white;
}

