.banner-section{
    background-color: var( --cor-fundo-azul);
    height: 365px;
    justify-content: center;
}

.banner-container{
    max-width: 1170px;
    margin: auto;
    padding: 72px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: 253px;
}


.banner-texto h1{
    color: var(--cor-branca);
    font-size: 40px;
    margin-bottom: 30px;
    
}

.banner-texto p{
    color: var(--cor-branca);
    font-size: 24px;
}

.banner-links{
    display: flex;
    gap: 10px;
}

.link-inicio{
    text-decoration: none;
    color: var(--cor-branca);
    font-size: 16px;
    font-weight: 700;
    padding: 0.8em 1.8em;
    background-color: var(--cor-fundo-banner);
    border-radius: 30px;
    text-align: center;
}

.link-inicio:hover{
    background-color: var(--cor-preta);
    transform: scale(1.04);
}

.link-planos{
    text-decoration: none;
    color: var(--cor-branca);
    font-size: 16px;
    font-weight: 700;
    padding: 0.8em 1.8em;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid var(--cor-branca);
    align-items: center;
}

.link-planos:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.04);
}


.banner-paragrafo{
    font-size: 11px;
    color: var(--cor-branca);    
    margin-top: 5px;
}

.banner-paragrafo a{
    color: var(--cor-branca);
}

