body{

    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
}

.container{
    display: flex;
    /*width: 100%;*/
    align-items: center;
    max-width: 1170px;
    justify-content: space-between;
    margin: auto;
    height: 80px;
}

.spotify-logo{
    height: 40px;
    width: 132px;
}

.header-nav{
    width: 500px;
}

.nav-opcoes{
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-between;
    padding: 0;

}

.opcoes-item{
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.item-link{
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto';
}

.log-on-out{
    color: #d9dadc;
}

.log-on-out:hover{
    color: #1ed760;
}

.opcoes-item:hover{
    color: #1ed760;
}
#separator:hover{
    color: white;
}