@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Hind+Vadodara:wght@300;400;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
    --cor-branca: white;
    --cor-preta: black;
    --cor-hover-verde: #1ed760;
    --cor-login-cinza: #d9dadc;
    --cor-azul: rgb(13, 114, 234);
    --cor-link-brasil:#919496; 
    --cor-background-ms:#222326;
}

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";
}


